/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

.navbar {
  background: #0c831f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.logo h2 {
  font-size: 28px;
}

.search-box {
  background: white;
  width: 450px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 10px;
  font-size: 16px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.icon {
  font-size: 22px;
  cursor: pointer;
}
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px;
    background:#e8f5e9;
}

.hero-left{
    width:50%;
}

.hero-left h1{
    font-size:52px;
    color:#0c831f;
    margin-bottom:20px;
}

.hero-left p{
    font-size:20px;
    color:#444;
    line-height:1.8;
    margin-bottom:30px;
}

.hero-left button{
    background:#0c831f;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

.hero-right{
    width:45%;
}

.hero-right img{
    width:100%;
    border-radius:20px;
}
.delivery-banner{
    margin:40px;
    background:white;
    border-radius:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 40px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.delivery-left{
    display:flex;
    align-items:center;
    gap:15px;
}

.delivery-right{
    display:flex;
    align-items:center;
    gap:15px;
}

.delivery-icon{
    color:#0c831f;
    font-size:30px;
}

.delivery-left h3{
    color:#555;
}

.delivery-left p{
    font-weight:bold;
}

.delivery-right h2{
    color:#0c831f;
}
.categories{
    padding:40px;
}

.categories h2{
    margin-bottom:25px;
    font-size:32px;
}

.category-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

}

.category-card{

    background:white;

    text-align:center;

    padding:20px;

    border-radius:15px;

    transition:.3s;

    cursor:pointer;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.category-card:hover{

    transform:translateY(-8px);

}

.category-card img{

    width:90px;

    height:90px;

    object-fit:contain;

}

.category-card h3{

    margin-top:15px;

}
.products{
    padding:40px;
}

.products h2{
    font-size:32px;
    margin-bottom:25px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.product-card{
    background:white;
    border-radius:15px;
    padding:20px;
    text-align:center;
    position:relative;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
    transition:.3s;
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-card img{
    width:180px;
    height:180px;
    object-fit:cover;
}

.discount{
    position:absolute;
    left:15px;
    top:15px;
    background:red;
    color:white;
    padding:5px 10px;
    border-radius:5px;
    font-size:12px;
}

.heart{
    position:absolute;
    right:15px;
    top:15px;
    color:red;
    cursor:pointer;
}

.rating{
    margin:10px 0;
}

.product-card h4{
    margin:10px 0;
}

.product-card h4 span{
    color:gray;
    text-decoration:line-through;
    font-size:15px;
}

.product-card button{
    background:#0c831f;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}
.footer{
    margin-top:60px;
    background:#0c831f;
    color:white;
    padding:50px;
}

.footer-top{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    gap:40px;
}

.footer h2{
    margin-bottom:15px;
}

.footer h3{
    margin-bottom:15px;
}

.footer p{
    margin:10px 0;
}

.social-icons{
    display:flex;
    gap:20px;
    font-size:28px;
    margin-top:20px;
    cursor:pointer;
}

.footer hr{
    margin:30px 0;
}

.copyright{
    text-align:center;
}
.offers {
  padding: 40px;
}

.offers h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

.offer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.offer-card {
  padding: 30px;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
  text-align: center;
}

.offer-card:hover {
  transform: translateY(-8px);
}

.offer-card h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.offer-card p {
  font-size: 18px;
}
.cart-link {
  position: relative;
  display: inline-flex;
  align-items: center;
}
.cart-icon{
    position:relative;
    display:inline-block;
}
.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.cart-page{
    width:90%;
    margin:auto;
    padding:40px 0;
}

.cart-card{
    display:flex;
    gap:20px;
    align-items:center;
    padding:20px;
    border:1px solid #ddd;
    border-radius:15px;
    margin-bottom:20px;
    background:white;
}

.cart-card img{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:12px;
}

.cart-info{
    flex:1;
}

.cart-total{
    margin-top:30px;
    text-align:right;
}

.checkout-btn{
    padding:12px 25px;
    border:none;
    background:#16a34a;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}
.quantity-box {
  display:flex;
  justify-content:center;
  align-items:center;
  gap:12px;

}

.quantity-box button {
  width: 35px;
  height: 35px;
  border: none;
  background: #16a34a;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.quantity-box span {
  font-size: 18px;
  font-weight: bold;
}
.product-details {
  width: 90%;
  margin: 40px auto;
  display: flex;
  gap: 40px;
  align-items: center;
}

.product-details img {
  width: 350px;
  border-radius: 15px;
}

.details {
  flex: 1;
}

.details button {
  background: #16a34a;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.product-card a {
  text-decoration: none;
  color: black;
}
.checkout-page{
    width:90%;
    margin:auto;
    padding:40px 0;
}

.checkout-container{
    display:flex;
    gap:40px;
}

.address-section,
.payment-section{
    flex:1;
    background:#fff;
    padding:25px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.address-section input,
.address-section textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:8px;
}

.payment-section label{
    display:block;
    margin:15px 0;
}

.place-order{
    margin-top:20px;
    width:100%;
    padding:15px;
    background:#16a34a;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}

.category-filter{
    display:flex;
    justify-content:center;
    gap:15px;
    margin:30px 0;
    flex-wrap:wrap;
}

.category-filter button{
    padding:10px 20px;
    border:none;
    border-radius:25px;
    background:#eee;
    cursor:pointer;
    font-weight:bold;
}

.category-filter .active{
    background:#16a34a;
    color:white;
}
.slider{
    width:95%;
    margin:30px auto;
}

.slider img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:20px;
}
.bill-summary{
    width:350px;
    margin-left:auto;
    margin-top:30px;
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.bill-row{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
    font-size:17px;
}

.total-row{
    font-size:20px;
    font-weight:bold;
}

.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px 40px;
    background:white;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
    position:sticky;
    top:0;
    z-index:1000;
}

.logo h2{
    color:#16a34a;
}

.location p{
    font-size:12px;
    color:gray;
    margin:0;
}

.location h4{
    margin:0;
    font-size:16px;
}

.search-box{
    width:40%;
    display:flex;
    align-items:center;
    gap:10px;
    background:#f4f4f4;
    padding:12px;
    border-radius:12px;
}

.search-box input{
    width:100%;
    border:none;
    background:transparent;
    outline:none;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:black;
    font-weight:600;
}

.icon{
    font-size:22px;
}
.welcome-banner{
    width:95%;
    margin:30px auto;
    background:linear-gradient(90deg,#16a34a,#22c55e);
    color:white;
    padding:40px;
    border-radius:20px;
}

.welcome-banner h1{
    margin-bottom:10px;
    font-size:38px;
}
.login-page{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:80vh;
    background:#f5f5f5;
}

.login-card{
    width:400px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.login-card h1{
    color:#16a34a;
    margin-bottom:10px;
}

.login-card p{
    color:gray;
}

.login-card input{
    width:100%;
    padding:14px;
    margin:15px 0;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:16px;
}

.password-box{
    position:relative;
}

.password-box span{
    position:absolute;
    right:15px;
    top:28px;
    cursor:pointer;
}

.login-btn{
    width:100%;
    padding:14px;
    background:#16a34a;
    color:white;
    border:none;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

.register-link{
    text-align:center;
    margin-top:20px;
}

.register-link a{
    color:#16a34a;
    text-decoration:none;
    font-weight:bold;
}
.user-name{
    color:#16a34a;
    font-weight:bold;
    font-size:15px;
}
.profile-page{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:80vh;
    background:#f5f5f5;
}

.profile-card{
    width:420px;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    text-align:center;
}

.profile-card h1{
    color:#16a34a;
    margin-bottom:20px;
}

.profile-card h2{
    margin-bottom:10px;
}

.profile-card p{
    color:gray;
    margin-bottom:20px;
}

.profile-btn{
    display:block;
    margin:15px 0;
    padding:12px;
    background:#16a34a;
    color:white;
    text-decoration:none;
    border-radius:10px;
    transition:0.3s;
}

.profile-btn:hover{
    background:#15803d;
}

.logout-btn{
    width:100%;
    padding:14px;
    margin-top:20px;
    background:#dc2626;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

.logout-btn:hover{
    background:#b91c1c;
}
.success-page,
.orders-page{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    min-height:80vh;
    background:#f5f5f5;
}

.success-card{
    background:white;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.home-btn,
.orders-btn{
    margin:15px;
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#16a34a;
    color:white;
    cursor:pointer;
}

.order-card{
    display:flex;
    align-items:center;
    gap:20px;
    background:white;
    padding:20px;
    border-radius:15px;
    margin-top:20px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.order-card img{
    width:120px;
    border-radius:10px;
}

.delivered{
    color:green;
    font-weight:bold;
}
.payment-option{

    display:flex;

    align-items:center;

    gap:12px;

    padding:15px;

    margin:12px 0;

    border:1px solid #ddd;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

.payment-option:hover{

    background:#f5fff7;

}

.coupon-section{

    background:white;

    padding:20px;

    border-radius:15px;

    margin-bottom:25px;

}

.coupon-section input{

    width:70%;

    padding:12px;

    border-radius:8px;

    border:1px solid #ccc;

}

.apply-btn{

    margin-left:10px;

    padding:12px 20px;

    border:none;

    background:#16a34a;

    color:white;

    border-radius:8px;

    cursor:pointer;

}
.track-page{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    min-height:80vh;
    background:#f5f5f5;
}

.track-card{
    width:450px;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.step{
    padding:18px;
    margin:15px 0;
    border-left:5px solid #ccc;
    background:#fafafa;
    border-radius:8px;
    font-size:18px;
}

.completed{
    border-left:5px solid green;
    color:green;
}

.active{
    border-left:5px solid orange;
    color:orange;
    font-weight:bold;
}

.track-btn{
    margin-top:15px;
    padding:12px 25px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:10px;
    cursor:pointer;
}
.footer{
    background:#15803d;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}
.sort-section{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:10px;
    margin:20px;
}

.sort-section select{
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
}

.delivery-time{
    color:#16a34a;
    font-size:14px;
    font-weight:bold;
    margin:8px 0;
}
.wishlist-page{
    padding:40px;
}

.wishlist-page h1{
    text-align:center;
    margin-bottom:30px;
}

.wishlist-page h2{
    text-align:center;
    color:gray;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    gap:25px;
}

.product-card{
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
    text-align:center;
}

.product-card img{
    width:150px;
    height:150px;
    object-fit:contain;
}

.product-card h4 span{
    color:gray;
    text-decoration:line-through;
    font-size:15px;
    margin-left:8px;
}

.delivery-time{
    color:#16a34a;
    font-weight:bold;
    margin:10px 0;
}
.reviews{
    color:#777;
    font-size:14px;
    margin-bottom:10px;
}
.stock{
    color:#16a34a;
    font-weight:bold;
    margin-bottom:10px;
}
.saved{
    color:red;
    font-size:14px;
}
.product-details{
    display:flex;
    gap:50px;
    padding:50px;
    align-items:center;
    flex-wrap:wrap;
}

.details-image{
    width:350px;
    height:350px;
    object-fit:contain;
    background:white;
    border-radius:15px;
    padding:20px;
}

.details-info{
    max-width:500px;
}

.details-info h1{
    margin-bottom:15px;
}

.details-info h2{
    color:#16a34a;
    margin:15px 0;
}
.back-btn{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:#555;
    color:white;
    cursor:pointer;
}

.back-btn:hover{
    background:#333;
}